<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snippetbox</title>
</head>

<body>
    <header>
        <h1><a href="/">Snippetbox</a></h1>
    </header>

    <main>
        <h2>Latests snippets</h2>
        <p>There's nothing yet!</p>
    </main>

    <footer> 
        Powered by <a href="http://golang/org">go</a>
    </footer>

</body>
</html>

